<div *ngFor="let transaction of transactions" class="mb-5">
  <p class="text-zinc-300 font-black">
    {{transaction.date.getDay()}}/{{transaction.date.getMonth()}}/{{transaction.date.getFullYear()}} {{transaction.date.getHours()}}:{{('0'+transaction.date.getMinutes()).substring(0,2)}}
  </p>
  <div class="rounded-3xl bg-slate-50 shadow-lg shadow-gray-300/75">
      <div class="flex justify-between items-center p-2">

        <div class="flex">
          <div>
            <img src="../../assets/07 Alimentos.svg" alt="" class="mr-4 w-10 h-15 brightness-75">
          </div>
          <div>
            <h3 class="text-sky-900 text-xl font-bold">{{transaction.category}}</h3>
            <p class="text-sky-900">{{transaction.description}}</p>
          </div>
        </div>

        <div>
          <p class="text-emerald-400 font-black">${{transaction.money}} MNX</p>
          <div class="flex justify-center items-center">
            <img src="../../assets/25 Avatar pollo 2.svg" class="w-5 mr-1">
            <p class="text-gray-400">{{transaction.amount}}</p>
          </div>
        </div>
      </div>
    </div>
</div>