<ul
  class="w-90 h-20 m-auto bg-violet-900 rounded-t-3xl fixed bottom-0 left-0 right-0 flex">
  <li
    *ngFor="let item of itemsNavBar"
    class="basis-1/4 flex justify-center items-center">
    <button
      (click)="visibilityButton(item.num)"
      routerLink="{{ item.rute }}"
      class="text-white p-7 font-bold">
      <img
        src="{{ item.icon }}"
        alt="{{ item.value }}"
        class="w-6 h-6 m-auto" />
      <span [ngClass]="{ hidden: visible[item.num] }" class="text-center">{{
        item.value
      }}</span>
    </button>
  </li>
</ul>
